*{
    font-family: "Inter", sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
header{
    background:linear-gradient(rgba(17, 17, 17, 1), rgba(119, 119, 119, 0.1));
}

/* font */
@font-face {
    font-family: miama;
    src: url(font/Miama.ttf);
}

/* shared styles */
.space-bet{
    display: flex;
    justify-content: space-between;
}
.btn-primary{
    font-weight: 600;
    background-color: #E6533C;
    border: none;
    padding: 16px 46.5px;
    border-radius: 42px;
}

/* nav syles */
nav{
    padding: 57px 190px 0px 190px;
    align-items: center;
}
nav h2 i{
    color: #E6533C;
    font-size: 2.25rem;
}
nav ul li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: white;
}
.nav-menu{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    display: flex;
    padding: 12px 4px;
    padding-right: 24px;
    gap: 47px;
}
#home{
    font-weight: bold;
    background-color: #E6533C;
    border-radius: 46px;
    padding: 8px 20px;
}
.bar-icon{
    display: none;
}

/* banner section style */
.banner-text h1{
    font-weight: bold;
    font-size: 4.8rem ;
    width: 520px;
    margin-bottom: 28px;
}
.banner-text span{
    font-family: miama;
}
.banner-text p{
    color: rgba(255, 255, 255, 0.5);
    width: 520px;
    margin-bottom: 28px;
}
.btn-2{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
}
.banner-btn{
    display: flex;
    gap: 14px;
}
.banner-text{
    padding: 96px 0px 76px 190px;
}
.banner-content{
    display: flex;
    padding-right: 214px;
    padding-top: 32px;
}
.fwv{
    position: absolute;
    right: 140px;
    top: 260px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 98px;
    width: 193px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
}
.fwv h2{
    font-size: 2.5rem;
    font-weight: bold;
}
.fwv-text p{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.65);
}
.vt{
    position: absolute;
    right: 470px;
    top: 556px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    width: 206px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
}
.circle{
    background-color: #E6533C;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.vt-text{
    margin-left: 12px;
}
.vt-text h3{
    font-size: 1.5rem;
    margin-bottom: 8px;
}
.vt-text p{
    font-size: 0.8rem;
    color: rgba(239, 237, 232, 0.65);
}

/* small size device */
@media screen and (max-width:576px) {
    nav{
        padding: 52px 20px 0px 20px;
        align-items: center;
    }
    .nav-menu{
        display: none;
    }
    .bar-icon{
        display: block;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-text{
        padding: 52px 20px 0px 20px;
    }
    .banner-text h1{
        font-size: 2.25rem;
        width: 250px;
    }
    .banner-text p{
        font-size: 1rem;
        width: 274px;
    }
    .banner-content{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        padding-top: 48px;
    }
    .fwv{
        top: 576.6px;
        right: 32.89px;
        height: 74.09px;
        width: 145.91px;
    }
    .fwv-text h2{
        font-size: 1.89rem;
    }
    .fwv-text p{
        font-size: 0.6rem;
    }
    .circle{
        width: 30.24px;
        height: 30.24px;
    }
    .vt{
        top: 800px;
        left: 32px;
        height: 72.58px;
        width: 155.74px;
    }
    .vt-text h3{
        font-size: 1.13rem;
    }
    .vt-text{
        font-size: 0.75rem;
    }
}