*{
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    background-color: black;
}
/* shared styles */
.space-bet{
    display: flex;
    justify-content: space-between;
}

/* nav syles */
nav{
    padding: 57px 190px 0px 190px;
    align-items: center;
}
nav h2{
    color: #E6533C;
    font-size: 2.25rem;
}
nav ul li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: white;
}
.nav-menu{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    display: flex;
    padding: 12px 4px;
    padding-right: 24px;
    gap: 47px;
}
#home{
    font-weight: bold;
    background-color: #E6533C;
    border-radius: 46px;
    padding: 8px 20px;
}