@media screen and (max-width:576px) {
    /* shared styles */
    .nav-menu,
    .training-img-1 .img-3,
    .training-img-2 .img-6{
        display: none;
    }
    .banner-container,
    .reme-container,
    .bmi-calculator-container,
    .footer-content,
    .contact-info{
        flex-direction: column;
    }
    .cyh-text h2,
    .training-text h2,
    .training-bmi h2,
    .reme-text h2,
    .meet-our-team-text h2,
    .daily-challanges-text h2{
        font-size: 2rem;
    }
    .bmi-calculator-container h2{
        font-size: 1rem;
    }
    /* nav styles */
    nav{
        padding: 52px 20px 0px 20px;
        align-items: center;
    }
    .bar-icon{
        display: block;
    }
    /* banner styles */
    .banner-text{
        padding: 52px 20px 0px 20px;
    }
    .banner-text h1{
        font-size: 2.25rem;
        max-width: 250px;
        line-height: 120%;
    }
    .banner-text span{
        font-size: 5rem;
    }
    .banner-text p{
        font-size: 1rem;
        max-width: 274px;
    }
    .btn-1{
        padding: 16px 41.5px;
    }
    .btn-1::after{
        content: none;
    }
    .btn-2{
        padding: 16px 20.5px;
    }
    .banner-content{
        display: flex;
        justify-content: center;
        padding: 0px;
        margin-top: 48px;
    }
    .banner-img img{
        width: 349px;
        height: 490px;
        object-fit: none;
        object-position: top;
    }
    .fwv{
        top: 47.6px;
        right: 32.89px;
        height: 74.09px;
        width: 145.91px;
    }
    .fwv-text h2{
        font-size: 1.89rem;
    }
    .fwv-text p{
        font-size: 0.6rem;
    }
    .circle{
        width: 30.24px;
        height: 30.24px;
    }
    .vt{
        top: 271px;
        left: 32px;
        height: 72.58px;
        width: 155.74px;
    }
    .vt-text h3{
        font-size: 1.13rem;
    }
    .vt-text{
        font-size: 0.75rem;
    }
    .cyh{
        margin: 0px 27px 66px 27px;
    }
    .cyh-items{
        grid-template-columns: repeat(1, 1fr);
    }
    .cyh-text p{
        max-width: 316px;
    }
    /* reme styles */
    .reme-container{
        max-width: 353px;
        margin: 0px auto 66px;
    }
    .reme-text{
        padding: 31px 33px 0px 33px;
        align-items: center;
        max-width: 250px;
    }
    .reme-text p{
        margin-bottom: 24px;
    }
    .reme-img{
        width: 81%;
        height: auto;
        margin: 31px 33px 35px;
        object-fit: cover;
    }
    .reme-btn{
        display: flex;
        justify-content: center;
    }
    /* training styles */
    .training p{
        max-width: 331px;
    }
    .training{
        padding: 0px 20px 32px;
    }
    .training-text{
        max-width: 353px;
        margin: 0 auto 38px;
    }
    .training-img{
        max-width: 353px;
        max-height: 253px;
        margin: 0 auto;
    }
    .training-img-1{
        grid-template-columns: 50% 50%;
        grid-template-rows: 126px;
    }
    .training-img-2{
        grid-template-columns: 40% 60%;
        grid-template-rows: 126px;
    }
    .img-4-overly{
        max-width: 141px;
        max-height: 127px;
    }
    .training-bmi{
        max-width: 353px;
        margin: 30px auto 0;
    }
    /* bmi calculator styles */
    .bmi-calculator-container{
        gap: 42px;
        padding: 34px 20px 43px;
    }
    .bmi-calculator-chart h2{
        margin-bottom: 23px;
    }
    .calculate-bmi-text p{
    max-width: 346px;
    }
    form{
        width: 100%;
    }
    /* daily challanges styles */
    .daily-challanges-content{
        grid-template-columns: 1fr;
    }
    .daily-challanges-container{
        margin: 50px 0;
    }
    .daily-challanges-content{
        gap: 20px;
    }
    /* meet our team styles */
    .meet-our-team-container{
        margin: 66px auto;
    }
    .meet-our-team-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .meet-our-team-text p{
        max-width: 309px;
    }
    .meet-our-team-content{
        max-width: 353px;
        margin: 0 auto;
    }
    .meet-our-team-collage{
        grid-template-columns: 1fr;
    }
    .meet-our-team-collage div {
        width: 100%;
        height: auto;
    }
    /* footer styles */
    footer{
        padding: 44px 20px 57px;
    }
    .footer-content{
        gap: 30px;
    }
    .disclaimer p{
        max-width: 317px;
    }
    .disclaimer i{
        margin-bottom: 20px;
    }
    .contact-info{
        gap: 0;
        margin-bottom: 52px;
    }
    hr{
        margin-bottom: 41px;
    }

}